body {
    background-image: url(../image/product-list__bg.jpg);
}
.frame__ctn {
    background-color: #fff;
}
.container__mts {
    margin: 150px 0;
}
.content__mts {
    padding: 20px 30px;
}
.layer__nav {
    padding: 0px;
    background-color: #eeeeee;
}
.layer__nav>p {
    padding: 5px;
    font-size: 15px;
    color: #000;
}
.layer__nav>p>a {
    color: #000;
    text-decoration: underline;
}
/* title */
.title__mts {
    margin: 20px 0;
}
.title__mts>p {
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
}
/* txt */
.txt__contents>p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;
}
.txt__contents>p>a {
    color: blue;
}

/* select */
.select__motor {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
button.item__select {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #0B2D82;
    background-color: #fff;
    border: 1px solid #0B2D82;
    /* background: #fff; */
    width: 250px;
    border-radius: 50px;
}
i.fa-solid.fa-chevron-down {
    float: right;
}
button.item__select:hover {
    background-color: #0B2D82;
    color: #fff;
}
/* item mts type */
.type__mts {
    margin: 20px;
    box-shadow: 0 6px 10px 0px rgba(0, 0, 0, 0.28);
}
.grande__mts {
    border-top: 5px solid #620305 ;
    background: #dae0f0;
}
.freego__mts {
    background: #e8dcd3;
    border-top: 5px solid #14359A;
}
.latte__mts {
    background: #dbeceb;
    border-top: 5px solid #119894;
}
.janus__mts {
    background: #e8dcd3;
    border-top: 5px solid #14359A;
}
.name__type-mid {
    padding: 20px 20px;
}
.name__type-mid>p {
    color: #000;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.content__type-mts {
    padding: 12px;
}
.list__mts-type {
    padding: 0 10px;
}
.item__type-mts {
    padding: 10px;
}
.content__item-type {
    border-top-right-radius: 35px;
    padding: 15px;
    background: -webkit-linear-gradient(top, #fff 0%, rgba(255, 255, 255, 0) 100%);
    /* height: 500px; */
}
p.name__item-type {
    text-align: center;
    color: #000;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: bold;
}
.list__color {
    margin-bottom: 40px;
    display: flex
}
.item__color {
    position: relative;
    width: 25px;
    height: 26px;
    z-index: 1;
    cursor: pointer;
    top: 10px;
}
.img__item-type {
    padding: 20px;
}
.img__type {
    width: 85%;
    max-height: 190px;
    /* animation: fadeup-center; */
}
.ft__item {
    display: flex;
    justify-content: center;
}
button.view__detail {
    padding: 10px 5px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}

.img__type:hover {
    transform: scale(1.1);
}
/* newspaper */
.title__news {
    margin-top: 60px;
    border-top: #666666 solid 2px;
}
.title__news>p {
    padding: 30px 0 10px 0;
    font-size: 28px;
    color: #000;
    font-weight: bold;
}
.img__item-new {
    width: 100%;
}
.des__item-new {
    margin-top: -10px;
    background-color: #000;
    padding: 5px;
    overflow: hidden;
    max-height: 2.5rem;
    display: -webkit-box;
   -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
}
.des__item-new>p {
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.8;
}
